.main {
    margin-top: 1vh;
    min-height: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
}

.containerInfo {
    display: grid;
    grid-template-rows: 0.4fr 1.4fr;
    gap: 2rem;
    min-width: 100%;
    justify-items: center;
}

.containerInfo div {
    width: 70%;
    align-self: flex-end;
}

.bannerHeader {
    background-color: var(--secondary-color);
    border-radius: 0.625rem;
    padding: 1rem;
    width: max-content;
    font-family: var(--font-secondary);
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
    align-self: flex-end;
}

.bannerInfo {
    align-self: flex-start;
    font-family: var(--font-secondary);
    font-size: 2rem;
    font-weight: 400;
    line-height: 4rem;
    width: 70%;
}

.bannerInfo span {
    color: var(--secondary-color);
}

.containerImage {
    background-color: transparent !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.image {
    width: 80%;
    height: 80%;
    animation: image 2s infinite ease alternate;
    -webkit-animation: image 2s infinite ease alternate;
}

.cursor {
    position: absolute;
    width: 0.2rem;
    height: 3rem;
    text-align: center;
    background-color: rgb(224, 241, 255);
    animation: blink 0.8s infinite;
}

@keyframes image {
    0% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
}
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 997px) {

    .bannerHeader,
    .bannerInfo {
        font-size: 1.5rem;
    }
}

@media (max-width: 640px) {
    .main {
        gap: 0;
    }
    .containerImage {
        justify-content: center;
    }
}