:root {
  --primary-color: #1d1d20;
  --secondary-color: #CD2044;
  --tertiary-color: #D9D9D9;
  --font-main: "Tw Cen MT, __Inter_20951f, __Inter_Fallback_20951f";
  --font-secondary: "VCR OSD Mono, __Inter_20951f, __Inter_Fallback_20951f";
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-family: var(--font-main);
}