@font-face {
  font-family: Tw Cen MT;
  src: url(../assets/font/TCM.TTF);
}

@font-face {
  font-family: VCR OSD Mono;
  src: url(../assets/font/VCR_OSD_MONO.TTF);
}

:root {
  --primary-color: #1d1d20;
  --secondary-color: #CD2044;
  --tertiary-color: #D9D9D9;
  --font-main: "Tw Cen MT", __Inter_20951f, __Inter_Fallback_20951f !important;
  --font-secondary: "VCR OSD Mono", __Inter_20951f, __Inter_Fallback_20951f !important;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-family: var(--font-main);
}