.about {
    min-height: 100vh;
    margin-top: var(--margin-top-section);
}

.title {
    padding-top: 2rem;
    text-align: center;
    font-family: var(--font-secondary);
    font-size: var(--font-size-title);
    font-style: normal;
    font-weight: 400;
}

.window {
    min-width: 10%;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end
}

.skillsTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
}

.window li {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.window li:nth-child(1) {
    background-color: var(--secondary-color);
}

.window li:nth-child(2) {
    background-color: var(--cuartiary-color);
}

.window li:nth-child(3) {
    background-color: var(--quintiary-color);
}

.containerText {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 3rem;
    border: 5px solid var(--secondary-color);
    padding: 2rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}
.containerText p {
    font-size: calc(var(--font-size-title) / 2.5);
    line-height: 2rem;
}

.skills {
    margin-top: var(--margin-top-section);
}

.skillsImages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 5px solid var(--secondary-color);
    padding: 2rem;
    gap: 2rem;
}
.skillsImages .imageContainer {
    position: relative;
    min-width: 20%;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}

.skillsImages img {
    cursor: pointer;
    max-width: 100%;
    transition: transform 0.5s ease;
}

.skillsImages .tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    color: var(--terciary-color);
    padding: 0.5rem;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.skillsImages .imageContainer:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 620px) {
    .skillsTitle {
        left: 20% !important;
        font-size: 1.2rem;
}
}