.about {
    min-height: 100vh;
    margin-top: 8rem;
}

.title {
    padding-top: 2rem;
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
}

.window {
    min-width: 10%;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end
}
.window li {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.window li:nth-child(1) {
    background-color: var(--secondary-color);
}

.window li:nth-child(2) {
    background-color: var(--cuartiary-color);
}

.window li:nth-child(3) {
    background-color: var(--quintiary-color);
}

.containerText {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 3rem;
    border: 5px solid var(--secondary-color);
    padding: 2rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}
.containerText p {
    font-size: 1.5rem;
    line-height: 2rem;
}

.skills {
    margin-top: 2rem;
}

.skillsImages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 5px solid var(--secondary-color);
    padding: 2rem;
    gap: 2rem;
}

.skillsImages img{
    max-width: 300px;
}