.projects {
    min-height: 100vh;
    margin-top: var(--margin-top-section);
}

.title {
    padding-top: 2rem;
    text-align: center;
    font-family: var(--font-secondary);
    font-size: var(--font-size-title);
    font-style: normal;
    font-weight: 400;
}

.containerProjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    max-width: 80%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
}

.containerProjects picture {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    display: flex;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
    -webkit-transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
    -moz-transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
    -ms-transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
    -o-transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.containerProjects picture:first-child {
    grid-area: 1 / 1 / 7 / 2;
}

.containerProjects picture:nth-child(2) {
    grid-area: 1 / 2 / 5 / 3;
}

.containerProjects picture:nth-child(3) {
    grid-area: 7 / 1 / 11 / 2;
}

.containerProjects picture:last-child {
    grid-area: 5 / 2 / 11 / 3;
}

.containerProjects picture:hover {
    transform: translate3d(0, -3px, 0);
}

@media (max-width: 680px) {
    .containerProjects {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .containerProjects picture {
        grid-area: auto !important;
    }
}